/* html {
  max-width: 1920px;
} */

body {
  /* display: block; */
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  /* max-width: 1600px; */
}
a {
  color: #424242;
  text-decoration: none;
}
/* Utilities */
.none {
  display: none !important;
}


/* Default */

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1399px) {
  .container {
    width: 100%;
  }
}