.footer {
  background-color: #245852;
  color: white;
  padding-bottom: 147px;
  padding-top: 101px;
}



.footer-logo + * {
  margin-top: 74px;

}

.footer-nav a {
  color: white;
  transition: opacity, 0.2s, ease;
}

.footer-nav a:hover {
  opacity: 0.5;
}
.footer-nav {
  font-size: 25px;
  font-weight: 600;
}

.footer-nav li + li{
  margin-top: 60px;
}

.footer-nav ul {
  list-style-type: none;
}