.home {
  min-height: 895px;
  /* background-color: #ffe4c4; */
  padding: 175px 0;
  position: relative; /* делаем так, чтобы эта позиция была родителем */
}

.home-content {
  max-width: 440px;
  /* max-height: 385px; */
}

.home-heading {
  color: #01996D;
  font-weight: 700;
  font-size: 65px;
  font-family: "Georgia", sans-serif;
  margin-bottom: 30px;
}

.home-text {
  color: #484848;
  line-height: 144.5%;
  max-width: 430px;
}

.home-text + * {
  margin-top: 53px;

}

/* .home-btn {

} */

.home-bg-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 895px;
  /* background-size: 100%; */
  z-index: -1; /* ?????? */
  /* background-color: bisque; */
  background-image: url("/img/BG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* object-position: center; */
}

/* .home-bg-img img {
  width: 100%;
  height: 100%;
  max-height: 895px;
  object-fit: cover;

} */

@media (max-width: 992px) {
  .home-bg-img {
    opacity: 0.5;
  }

  .home {
    padding: 100px 0;
    min-height: 500px
  }
  .home-text + * {
    margin-top: 20px;
  }
  /* .home {
    min-height: auto;
  } */
}